


{% extends 'core/base.html' %}

{% block title %}Log in{% endblock %}

{% block content %}
    <div class="max-w-md mx-auto mt-8 p-6 bg-white rounded-xl shadow-md">
        <h1 class="text-3xl font-bold mb-4">Log Now</h1>

        <form method="post" action=".">
            {% csrf_token %}
            {{ form.as_p }}

            <button class="mt-4 py-3 px-6 bg-cyan-500 text-white rounded-full hover:bg-cyan-600 focus:outline-none focus:shadow-outline-cyan active:bg-cyan-800">
                Submit
            </button>
        </form>
    </div>
{% endblock %}